<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="folder_name">../debug/</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        
        <RollingFile name="Level1" fileName="${folder_name}/Level_1.log" filePattern="${folder_name}/application-debug-%d{yyyy-MM-dd}-Level_1-%i.log" immediateFlush="false" append="false">
        <LevelRangeFilter minLevel="FATAL" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <Policies>
                <SizeBasedTriggeringPolicy size="1MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <RollingFile name="Level0" fileName="${folder_name}/Level_0.log" filePattern="${folder_name}/application-debug-%d{yyyy-MM-dd}-Level_0-%i.log" immediateFlush="false" append="false">
        <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%msg%n"/>
        <Policies>
                <SizeBasedTriggeringPolicy size="1MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        
    </Appenders>
    <Loggers>
        <Root level="debug">
            
            <AppenderRef ref="Level1"/>
            <AppenderRef ref="Level0"/>
        </Root>
    </Loggers>
</Configuration>

